* {
    /* 
    -May want to add "border-box for "box-sizing so padding does not affect width
    -Reset margin and padding 
   */
   box-sizing: border-box;
   padding: 0;
   margin: 0;
  }

  body {
    /* 
      -Background color is #344a72
    */
    background-color: #344a72;
    font-family: 'Raleway', sans-serif;
  }

  a {
    /* 
    Underlined links are ugly :)
   */
   text-decoration: none;
  }

  #container {
    /* 
    -Remember, margin: auto on left and right will center a block element 
    -I would also set a "max-width" for responsiveness
    -May want to add some padding
    */
    margin: 20px auto;
    max-width: 100%;
  }

  .form-wrap {
    /* 
      This is the white area around the form and heading, etc
    */
    background-color: #FFF;
    width: 30%;
    margin: 0 auto;
    padding: 2%;
  }

  .form-wrap h1,
  .form-wrap p {
    /* 
      May want to center these
    */
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }

  .form-wrap p {
    font-size: .7em;
  }

  .form-wrap .form-group {
    /* 
      Each label, input is wrapped in .form-group
    */
    width: 100%;
  }

  .form-wrap .form-group label {
    /* 
      Label should be turned into a block element
    */
    display: block;
  }

  .form-wrap .form-group input {
    /* 
      Inputs should reach accross the .form-wrap 100% and have some padding
    */
    width: 100%;
    padding: 2%;
    margin: 5px 0 10px 0;
    border: 1px solid lightgray;
    border-radius: 5px;
  }

  .error {
    display: none;
    color: red;
  }

  .form-wrap button {
    /* 
      Button should wrap accross 100% and display as block
      Background color for button is #49c1a2
    */

    display: block;
    background-color: #49c1a2;
    color: #FFF;
    width: 100%;
    padding: 2% 0;
    border: none;
  }

  .form-wrap button:hover {
    /* 
      Hover background color for button is #37a08e
    */
    background-color: #37a08e;
  }

  .form-wrap .bottom-text {
    /* 
      Bottom text is smaller
    */
    font-size: .6em;
    line-height: 1.2rem;
    width: 90%;
    text-align: center;
  }

  footer {
    /* 
    Should be centered
   */
   width: 20%;
   margin: 10px auto;
   color: #fff;
   font-size: .7em;
  }

  footer a {
    /* 
      Footer link color is #49c1a2
    */
    color: #49c1a2;
  }